<section class="first-section">
  <div class="header">
    <div class="container">
      <div class="header-left">
        <div class="header__logo">
          {% if page.logo %}
            {{ page.logo }}
          {% else %}
            <a href="/">LOGO HERE</a>
          {% endif %}
        </div>
      </div>

      <div class="header-right">
        <div class="header__call">
          <a href="tel:03222355753">0322 235 57 53</a>
          <img src="/{{ directory }}/images/call.png" alt="">
        </div>

        <hr class="style-one">

        <div class="header-info">
          <div class="header__time">
            <p>Mo-Fr von 8-20 Uhr</p>
            <img src="/{{ directory }}/images/time.png" alt="">
          </div>

          <div class="header__consultation">
            <p>Kostenlose Erstberatung</p>
            <img src="/{{ directory }}/images/consultation.png" alt="">
          </div>

          <div class="header__nation">
            <p>Bundesweit tätig</p>
            <img src="/{{ directory }}/images/nation.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="container">

      {{ page.navigation }}

    </div>
  </div>

</section>

<section class="second-section">
{% if page.main_content %}
    {{ page.main_content }}
  {% else %}
  <div class="page-slogan">
    <p>PAGE NOT FOUND<p>
  </div>
  {% endif %}
</section>

<div class="footer">
  <div class="container">
    <div class="footer-block">
      {% if page.logo %}
        {{ page.logo }}
      {% else %}
        <a href="/">LOGO HERE</a>
      {% endif %}
      <p class="copyright">©{{ "now"|date("Y") }} {{ site_name }} | All Right Reserved</p>
    </div>
    <div class="footer-block">
      {{ page.footer }}
    </div>
  </div>
</div>

